*,
::before,
::after {
  box-sizing: border-box;
}

.toplayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $itembordercolor;
  padding: 0.5rem;
  position: relative;

  p {
    padding: 0;
    margin: 0;
  }

  // .today {
  //   // padding-left: 1em;
  // }
}

.item {
  //background-color: lighten($itembgcolor, 50);
  border-bottom: 2px solid $itembordercolor;
  padding: 4px;
  margin: 0;
  position: relative;
  max-height: 12rem;

  .controls {
    background-color: darken($itembgcolor, 1);
    position: relative;
    height: 1.6rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  }

  .itemdata {
    padding: 0px;
    margin: 0;

    & > * {
      margin: 4px;
      background-color: $HoneyDew-Ash;
      border-radius: 2px;
      z-index: 2;
      color: lighten($fontcolor, 10);
    }
  }

  .due-time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: darken($PowderBlue, 30);
  }
}

form {
  min-height: 12rem;
  padding: 2px 4px;

  & label {
    display: block;
  }

  & input {
    width: 100%;
    outline: none;
    border: 0;
    // flex: 2;

    &:active {
      border: 1px solid $itembordercolor;
    }

    &:focus {
      border: 1px solid $itembgcolor;
      height: 24px;
      transition: font-size 0.5s linear;
      font-size: 20px;
    }
  }

  & .check {
    display: block;
    position: relative;
    padding: 4px;
    user-select: none;

    & .customcheck {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 16%;
      left: 23%;
      background-color: $itembgcolor;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }

      &:hover {
        background-color: lighten($itembgcolor, 15);
        cursor: pointer;
        //border: 4px solid $bordercolor;
      }
    }

    & input {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;

      &:checked {
        background-color: $itembgcolor;
      }

      &:checked ~ .customcheck:after {
        display: block;
      }
    }

    .customcheck:after {
      top: 15%;
      left: 32%;
      height: 13px;
      width: 9px;
      border: solid green;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 10;
}

.modalWindow {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: 10;
  padding: 6px;
  background-color: $modalcolor;
  pointer-events: auto;
  width: 50vw;
  border-radius: 4px;
  opacity: 0.8;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px;
  cursor: pointer;
  color: #000;

  &:hover {
    transform: scale(1.3);
    color: darken(#fafafa, 20);
  }
}

//& > form {
//   //   width: 800px;
//   //   position: absolute;
//   //   top: 50%;
//   //   left: 50%;
//   //   transform: translate(-50%, -50%);
//   //   padding: 2em;
//   //   background: white;
//   // }

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
