@media (max-width: 768px) {
  body .container {
    max-width: 740px;
  }

  .toplayout {
    & p {
      visibility: hidden;
    }
    & button {
      position: absolute;
      right: 30%;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    & .btn.btn-delete {
      right: -1;
    }

    & .btn.btn-edit {
      //left: 50%;
    }
  }

  form .check .customcheck {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 45%;
    background-color: $itembgcolor;
  }
}
