%btn {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 8px;
  background-color: $buttonbgcolor;
  cursor: pointer;
  position: absolute;
  color: $fontcolor;

  :hover {
    outline: none;
    transform: scale(0.98);
  }
}

.btn-add {
  @extend %btn;
  right: 0%;
  font-weight: 700;
}

.btn-edit {
  @extend %btn;
  right: 8%;
  height: 1.6rem;
}

.btn-delete {
  @extend %btn;
  right: -0.5%;
  border-radius: 50%;
  color: $itembordercolor;
  height: 1.6rem;
}

.btn-reminder {
  color: $itembordercolor;
  background-color: $buttonbgcolor;
  position: absolute;
  height: 1.6rem;

  &:hover {
    outline: none;
  }
}

.btn-save {
  display: block;
  height: 2rem;
  transition: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  background-color: $bordercolor;

  // &:active {
  //   border: 4px solid $itembordercolor;
  //   font-size: 20px;
  // }

  // &:focus {
  //   border: 1px solid $itembgcolor;
  //   font-size: 20px;
  // }
}
