@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,900&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toplayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e63946;
  padding: 0.5rem;
  position: relative;
}

.toplayout p {
  padding: 0;
  margin: 0;
}

.item {
  background-color: #cbd0d4;
  border-bottom: 2px solid #e63946;
  padding: 4px;
  margin: 0;
  position: relative;
  max-height: 12rem;
}

.item .controls {
  background-color: #474d54;
}

.item .itemdata {
  padding: 0px;
  margin: 0;
}

.item .itemdata > * {
  margin: 4px;
}

.item .due-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

form {
  min-height: 12rem;
  padding: 2px 4px;
}

form label {
  display: block;
}

form input {
  width: 100%;
  outline: none;
  border: 0;
}

form input:active {
  border: 1px solid #e63946;
}

form input:focus {
  border: 1px solid #495057;
  height: 24px;
  -webkit-transition: font-size 0.5s linear;
  transition: font-size 0.5s linear;
  font-size: 20px;
}

form .check {
  display: block;
  position: relative;
  padding: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

form .check .customcheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 23%;
  background-color: #495057;
}

form .check .customcheck:after {
  content: "";
  position: absolute;
  display: none;
}

form .check .customcheck:hover {
  background-color: #6c7681;
  cursor: pointer;
}

form .check input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

form .check input:checked {
  background-color: #495057;
}

form .check input:checked ~ .customcheck:after {
  display: block;
}

form .check .customcheck:after {
  top: 16%;
  left: 35%;
  height: 12px;
  width: 6px;
  border: solid #1d3557;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

body {
  background-color: #457b9d;
  font-family: "Roboto", sans-serif;
}

body .container {
  padding: 0;
  margin: 0;
  border: 1px solid #1d3557;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #cfdfea;
  color: #1d3557;
}

.btn-add, .btn-edit, .btn-delete {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 8px;
  background-color: #f1faee;
  cursor: pointer;
  position: absolute;
  color: #1d3557;
}

.btn-add :hover, .btn-edit :hover, .btn-delete :hover {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-add {
  right: 0%;
  font-weight: 700;
}

.btn-edit {
  right: 8%;
}

.btn-delete {
  right: -1%;
  border-radius: 50%;
  color: #e63946;
}

.btn-reminder {
  color: #e63946;
  background-color: #f1faee;
}

.btn-reminder:hover {
  outline: none;
}

.btn-save {
  display: block;
  height: 2rem;
  -webkit-transition: none;
  transition: none;
}

.btn-save:active {
  border: 4px solid #e63946;
}

.btn-save:focus {
  border: 1px solid #495057;
  font-size: 20px;
}
/*# sourceMappingURL=index.css.map */