@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,900&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toplayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e63946;
  padding: 0.5rem;
  position: relative;
}

.toplayout p {
  padding: 0;
  margin: 0;
}

.item {
  border-bottom: 2px solid #e63946;
  padding: 4px;
  margin: 0;
  position: relative;
  max-height: 12rem;
}

.item .controls {
  background-color: #474d54;
  position: relative;
  height: 1.6rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.item .itemdata {
  padding: 0px;
  margin: 0;
}

.item .itemdata > * {
  margin: 4px;
  background-color: #f1faee;
  border-radius: 2px;
  z-index: 2;
  color: #2a4c7d;
}

.item .due-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #43a4a8;
}

form {
  min-height: 12rem;
  padding: 2px 4px;
}

form label {
  display: block;
}

form input {
  width: 100%;
  outline: none;
  border: 0;
}

form input:active {
  border: 1px solid #e63946;
}

form input:focus {
  border: 1px solid #495057;
  height: 24px;
  -webkit-transition: font-size 0.5s linear;
  transition: font-size 0.5s linear;
  font-size: 20px;
}

form .check {
  display: block;
  position: relative;
  padding: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

form .check .customcheck {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 23%;
  background-color: #495057;
}

form .check .customcheck:after {
  content: "";
  position: absolute;
  display: none;
}

form .check .customcheck:hover {
  background-color: #6c7681;
  cursor: pointer;
}

form .check input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

form .check input:checked {
  background-color: #495057;
}

form .check input:checked ~ .customcheck:after {
  display: block;
}

form .check .customcheck:after {
  top: 15%;
  left: 32%;
  height: 13px;
  width: 9px;
  border: solid green;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.modalWindow {
  position: relative;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
  padding: 6px;
  background-color: #a8dadc;
  pointer-events: auto;
  width: 50vw;
  border-radius: 4px;
  opacity: 0.8;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px;
  cursor: pointer;
  color: #000;
}

.modalClose:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #c7c7c7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

body {
  background-color: #457b9d;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  padding: 0;
  margin: 0;
  border: 2px solid #1d3557;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #cfdfea;
  color: #1d3557;
  width: 70vw;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  body .container {
    max-width: 740px;
  }
  .toplayout p {
    visibility: hidden;
  }
  .toplayout button {
    position: absolute;
    right: 30%;
  }
  .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .controls .btn.btn-delete {
    right: -1;
  }
  form .check .customcheck {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 45%;
    background-color: #495057;
  }
}

.btn-add, .btn-edit, .btn-delete {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 8px;
  background-color: #f1faee;
  cursor: pointer;
  position: absolute;
  color: #1d3557;
}

.btn-add :hover, .btn-edit :hover, .btn-delete :hover {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-add {
  right: 0%;
  font-weight: 700;
}

.btn-edit {
  right: 8%;
  height: 1.6rem;
}

.btn-delete {
  right: -0.5%;
  border-radius: 50%;
  color: #e63946;
  height: 1.6rem;
}

.btn-reminder {
  color: #e63946;
  background-color: #f1faee;
  position: absolute;
  height: 1.6rem;
}

.btn-reminder:hover {
  outline: none;
}

.btn-save {
  display: block;
  height: 2rem;
  -webkit-transition: none;
  transition: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  background-color: #1d3557;
}
/*# sourceMappingURL=index.css.map */